# DirectoryIndex disabled
# #Redirect traffic to your port 3000
# RewriteEngine On
# RewriteBase /
# RewriteRule ^(.*)?$ http://127.0.0.1:3000/$1 [P,L]

########### BEGIN AllsWeb ###########
# Security: Block access to Git and SVN directories
RewriteRule (^|/)\.(git|svn)(/|$) - [F,L]

# Disable server signature
ServerSignature Off

# Security: Prevent access to sensitive and backup files
<FilesMatch "\.(tdata|sdata|addonpk|bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp|tar|tgz|zip|~)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "^(\.env|\.ini|\.htpasswd|\.htaccess|phpunit\.xml|composer\.(json|lock))$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
########### END AllsWeb ###########