/node_modules
/vendor
/storage/tmp
*.DS_Store
*__MACOSX
/.idea
/.vscode
error_log
.ddev/

# allsweb
/domain*
.well-known/acme-challenge
.user.ini
*script.sh
*get_changed_files.sh
docker-local/
/public/.well-known
/Modules/Rental/
/Modules/Gateways/
